<%- include('../partials/start-container.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <h1><%=project.name%> <span class="badge bg-secondary"><%=project.type%></span></h1>
    <div class="d-flex">
        <form id="add-file-form" class="me-2">
            <button class="btn btn-primary">Add New File</button>
        </form>
        <form id="run-project-form">
            <button class="btn btn-primary">Run</button>
        </form>
    </div>
    <div class="row mt-4 g-3">
        <div class="col-8">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab">
                </div>
                <div class="tab-content" id="v-pills-tab-content" style="flex-grow: 1;">
                </div>
            </div>
        </div>
        <div class="col-4">
            <textarea name="" id="" cols="30" rows="10" class="form-control" disabled></textarea>
        </div>
    </div>
    <script>
        const id = '<%=project._id%>';
    </script>
    <datalist id="types-datalist">
        <% for(const type of types){ %>
            <option value="<%=type%>">
        <% } %>
    </datalist>
    <script src="/js/projects/show.js"></script>
<%- include('../partials/end-container.ejs') %>