<!-- <!DOCTYPE html>
<html>
    <head>
        <title><%=project.name%></title>
    </head>
    <body>
        <h1>Name: <%=project.name%></h1>
        <h2>Type: <%=project.type%></h2>
        <a href="/projects">Back</a>
        <a href="/projects/<%=project._id%>/files/new">New File</a>
        <a href="/projects/<%=project._id%>/settings">Settings</a>
        <a href="/projects/<%=project._id%>/run">Run</a>
        <h2>Files</h2>
        <ul>
            <% for(const file of project.files){ %>
                <li>
                    <a href="/projects/<%=project._id%>/files/<%=file._id%>"><%=file.name%></a>
                </li>
            <% } %>
        </ul>
    </body>
</html> -->

<%- include('../partials/start-container.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <h1><%=project.name%> <span class="badge bg-secondary"><%=project.type%></span></h1>
    <div class="row">
        <div class="col-8">
            
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <script>
        const id = '<%=project._id%>';
    </script>
    <script src="/js/projects/show.js"></script>
<%- include('../partials/end-container.ejs') %>